<div class="col-md-2"></div>
<div class="col-md-8">

<%= form_for @walker, url:{ action: @action } do |f| %>
  <h3>Please complete the following information to create your profile</h3>
  <div class="form-group">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class:"form-control" %>
  </div>
  <br>
  <div class="form-group">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class:"form-control" %>
  </div>
  <br>
  <h4>Tell your future dog owner a bit about yourself:</h4>
  <div class="form-group">
  <%= f.label :bio %>
  <%= f.text_area :bio, class:"form-control" %>
  </div>
  <br>
  <%= f.hidden_field :user_id, value: params[:user_id] %>
  <br>
  <%= f.submit "Submit", :class => 'btn btn-default' %>
<% end %>


</div>
<div class="col-md-2"></div>
