  <%= form_for @owner, url:{ action: @action } do |f| %>
    <legend><h1>Please complete the following information to create your profile</h1></legend>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br>
    <p>Tell your future dog walker a bit about yourself <br>and what you're looking for in a dog walker:</p>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
    <br>
    <%= f.hidden_field :user_id, value: params[:user_id] %>
    <br>
    <%= f.submit "Submit", :class => 'submit_button' %>
  <% end %>
