<h3>Welcome, <%= @owner.first_name %>!</h3>

<nav><% if current_user %>
  <ul>
    <%= link_to "Log out", logout_path %>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Login", 'login' %></a></li>
    <li><%= link_to "Signup", 'signup' %></a></li>
  </ul>
<% end %>
</nav>

<%= link_to "Add a Pet", new_user_owner_pet_path(params[:user_id], @owner.id) %>


<% if !@owner.pets.nil? %>
  <p>These are the dogs that need a walking!</p>
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <br>
    <% if !pet.image.nil? %>
      <%= image_tag pet.image.url(:medium) %>
      <br>
      <%= pet.bio %>
      <br>
      <%= link_to "Edit", edit_user_owner_pet_path(params[:user_id], @owner.id, pet.id) %>
      <%= link_to "Remove", user_owner_pet_path(params[:user_id], @owner.id, pet.id), method: :delete %>
      <br>
    <% end %>
  <% end %>
<% end %>s
