<nav><% if current_user %>
  <ul>
    <%= link_to "Return to Welcome Page", owners_path %>
    <%= link_to "Log out", logout_path, method: "delete" %>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Login", 'login' %></a></li>
    <li><%= link_to "Signup", 'signup' %></a></li>
  </ul>
<% end %>
</nav>

<h1>My Profile</h1>
<br>
Name: <%= @owner.name %>
<br>
Email: <%= @owner.email %>
<br>
Bio: <%= @owner.bio %>
<br>
<%= link_to "Edit", edit_owner_path(params[:id]) %>
<br>
<h1>My Pet Profile</h1>
<br>
<% @pets.each do |pet| %>
<%= pet.name %>
<br>
<%= pet.bio %>
<br>
<%= link_to "Edit", edit_owner_pet_path(params[:id], pet.id) %>
<%= link_to "Remove", owner_pet_path(pet.owner_id, pet.id), method: :delete %>
<br>
<% end %>
<br>
<%= link_to "Add a Pet", new_owner_pet_path(params[:id]) %>
