<nav><% if current_user %>
  <ul>
    <%= link_to "Log out", logout_path %>
  </ul>
<% else %>
  <ul>
    <li><%= link_to "Login", 'login' %></a></li>
    <li><%= link_to "Signup", 'signup' %></a></li>
  </ul>
<% end %>
</nav>

<h3>Welcome, <%= @owner.first_name %>!</h3>
<p>In a future version of this, there will be a carousel will display the <br>
  last 5 five dog walkers that have created an account with a picture. It <br>
  will also have a link to the user's profile, where the user can edit their<br>
  information. FANCY!</p>

<br>
<%= link_to "Add a Pet", new_user_owner_pet_path(params[:user_id], @owner.id) %>
<br>
<br>
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <br>
    <% if !pet.image.nil? %>
      <%= image_tag pet.image.url(:medium) %>
      <br>
      <%= pet.bio %>
      <br>
      <br>
      <%= link_to "Edit", edit_user_owner_pet_path(params[:user_id], @owner.id, pet.id) %>
      <%= link_to "Remove", user_owner_pet_path(params[:user_id], @owner.id, pet.id), method: :delete %>
      <br>
    <% end %>
  <% end %>
