<%= form_for @pet, url:{ action: @action } do |f| %>
  <legend><h1>Pet Profile</h1></legend>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :bio %>
  <%= f.text_field :bio %>
  <br>
  <%= f.label :walk_frequency %>
  <%= f.text_field :walk_frequency %>
  <br>
  <%= f.hidden_field :owner_id, value: params[:owner_id] %>
  <%= f.submit "Submit", :class => 'submit_button' %>
<% end %>
