<div class="col-sm-4"></div>
<div class="col-sm-4 title-fade">
<fieldset>
  <%= form_for @user, url:{ action: @action } do |f| %>
    <h3>Sign up here!</h3>
    <br>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class:"form-control" %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <br>
    <%= f.hidden_field :owner_id, value: 9 %>
    <%= f.submit "Submit", :class => 'btn btn-default' %>
  <% end %>
  <p>
    
  </p>
</fieldset>
</div>
<div class="col-sm-4"></div>
